body {
    font-family: "Roboto", sans-serif;
    color: #505F98;
}

a {
    text-decoration: none;
    color: #505F98;
}

button {
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

li {
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

@media screen and (min-width: 320px) and (max-width: 768px) { 
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) { 
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media screen and (min-width: 1920px) { 
    .container {
        padding-left: 250px;
        padding-right: 250px;
        max-width: 100%;
    }

}


